.review{
    position: relative;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        position: absolute;
        display: flex;
        justify-content: center;
        top: 0;
    }
    .image-review{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            max-height: 75vh;
        }
    }
}