<div class="list-images-container row">
    <div class="empty-images" *ngIf="images.length == 0">
        <h1>No Images</h1>
        <h2>Upload Image using Image Controller</h2>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let image of images">
        <figure>
            <img [src]="sanitiseImagePath(image.imageUrl)" class="img-thumbnail" (click)="goToReview(image)"  placement="right" ngbTooltip="Review {{ image.imageName }}">
            <figcaption>{{ image.imageName }} - {{ image.imageTimestamp | date: 'dd MMMM yyyy HH:mm'}}</figcaption>
        </figure>
    </div>
</div>
